.panel-heading{
    background-color: rgba(27, 120, 202, 1);
    color:whitesmoke;
    text-indent: 10px;
}

.panel{
    border: 2px solid rgba(27, 120, 202, 1);
    width:335px;
    height: auto;
    background-color: rgba(240, 248, 255,0.5);
    position: relative;
    left: 500px;
    top: 75px;
}
.panel-body{
    padding:10px;
}
.summ-details{
    padding:5px;
}
button{
    padding:5px;
}
.btn-danger{
    position: relative;
    left: 15px;
}
.btn-success{
    position: relative;
    left: 35px;
}